@{
    ViewBag.Title = "About US";
}
<main aria-labelledby="title">
    <h2>About Readly</h2>

    <p>"Readly" tells the story of effortless access to knowledge and literature in a modern, digital world. <br />
    The name encapsulates the essence of your e-library system—bringing books, stories, and information to users readily and reliably. <br/>
    It's sleek, straightforward, and approachable, appealing to tech-savvy readers and casual book enthusiasts alike.<br/>
    Imagine "Readly" as a bridge between traditional libraries and the fast-paced demands of the digital age. <br/>
    With just a few clicks, users can immerse themselves in a universe of reading materials, whether for learning, leisure, or inspiration. <br />
    The name evokes convenience, speed, and a friendly user experience, suggesting that the app is not just a tool but a companion on every reader's journey.
    </p>
</main>